/*
!/.gitignore
!/LICENSE
!/README.md
!/TODO.md
!/sreapeat.csproj
!/sreapeat.sln
!/App.xaml
!/App.xaml.cs
!/MainWindow.xaml
!/MainWindow.xaml.cs
!/Helpers/
!/Helpers/**
!/Models/
!/Models/**
!/Services/
!/Services/**
