*
!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/Assets/
!/Assets/AppIcon.ico
!/Assets/AppIcon.png
!/Helpers/
!/Helpers/*.cs
!/Helpers/*.ps1
!/Models/
!/Models/*.cs
!/Services/
!/Services/*.cs
!/tests/
!/tests/Sreapeat.Tests/
!/tests/Sreapeat.Tests/*.cs
!/tests/Sreapeat.Tests/*.csproj
!/LICENSE
!/CHANGELOG.md
!/README.md
!/TODO.md
!/global.json
!/sreapeat.csproj
!/sreapeat.sln
!/App.xaml
!/App.xaml.cs
!/MainWindow.xaml
!/MainWindow.xaml.cs

**/bin/
**/obj/
**/TestResults/
